# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.spec

# Virtual environment
.venv/
venv/
env/

# PyCharm / IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs & temp
*.log
*.tmp
*.bak

# Archivos
*.zip

# Environment variables
.env
.env.*
